@font-face{
	font-family: "Futura-Bold";
 	src: url("../fonts/Futura-bold.ttf");
}

@font-face{
	font-family: "Futura-Normal";
 	src: url("../fonts/Futura-normal.ttf");
}

html{
	font-size: 14px;
}

.logo-txt{
	font-family: 'Futura-Bold', sans-serif;
	font-size: 1.1rem;
	float: left;
	font-weight: 800;
	margin-left: 5px;
	margin-top: 11px;
}

.founder{
	max-height: 410px;
	background: url(../img/founder.png) no-repeat;
	height: 410px;
	position: relative;
	bottom: 0px;
}

.content .cert{
	font-family: 'Futura-Bold', sans-serif;
	font-size: 3rem;
	font-weight: 800;
}

.content .cert span{
	font-family: 'Futura-normal', sans-serif;
	font-size: 2.6rem;
	clear:both;
	display: block;
	font-weight: 600;
	
}

.custom-controls{
	font-family: 'Futura-normal', sans-serif;
	font-size: 1.5rem;
	margin-top: 10px;
}

.logo-txt span{
	font-family: 'Futura-Normal', sans-serif;
	font-size: 1.1rem;
	font-weight: normal;
	clear:both;

}

body{
	margin:0;
}

.logo-pic{
	float: left;
}

.block_1{
	min-height: 762px;
	background: url(../img/laboratory.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

